:root {
    --background: #010922;
    --text-white: #fff;
    --grad-back-color: rgba(170, 217, 217, 0.6);
    --filter: blur(162px);
    --parpal-color: #8080D7;
    --light-blue: #AAD9D9;
    --light-bg-color: #12182e;
    --black: #000;
    --text-blue: blue;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    padding: 60px 100px;
    background-color: var(--background);
    color: var(--text-white);
}

.header {
    display: flex;
    flex-direction: row;
}

.text {
    display: flex;
    flex: 45;
}

.Link-div {
    display: flex;
    flex: 55;
    font-size: 17px;
    justify-content: space-around;
}

.send-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.hard-box h1 {
    font-size: 70px;
    width: 400px;
    line-height: 70px;
    margin-bottom: 20px;
}

.hard-box p {
    width: 380px;
    font-size: 18px;
    margin-bottom: 40px;
}

.btn button {
    padding: 15px 40px;
    margin-right: 10px;
    font-size: 16px;
    color: var(--text-white);
    background-color: transparent;
    border: 2px solid #AAD9D9;
    border-radius: 25px;
    transition: ease-in-out 0.5s;
}

.btn button:hover {
    background-color: var(--parpal-color);
    color: var(--text-white);
    box-shadow: inset 300px 0 0 0 var(--parpal-color);
    cursor: pointer;
    border: 2px solid var(--parpal-color);
}

.big-div {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.small-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    width: 800px !important;
    margin-top: 15px;
    background-color: var(--light-bg-color);
    border-radius: 10px;
}

.forth-box {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div-box h3 {
    color: var(--light-blue);
}

.div-box h1 {
    font-size: 60px;
    width: 500px;
}

.div-box p {
    font-size: 19px;
    width: 500px;
    margin: 20px 0;
}

.div-box button {
    padding: 20px 60px;
    background-color: var(--parpal-color);
    color: var(--text-white);
    font-size: 17px;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
}

.div-box button:hover {
    background-color: var(--text-blue);
    cursor: pointer;
}

.sixth-div {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.text-img-box {
    width: 300px;
    padding: 20px;
    margin: 40px 40px 0 0;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    background-color: var(--light-bg-color);
}

.small-div div image {
    margin: 0 auto;
}

.small-div h3 {
    margin-bottom: 10px;
}

.big-img {
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
}

.very-impot-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-box-text {
    display: flex;
    justify-content: center;
    text-align: center;
}

.div-box-text h1 {
    font-size: 56px;
    width: 450px;
    margin-top: 10px;
}

.div-box-text h4 {
    color: var(--light-blue);
}

.seven-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-image: linear-gradient(#8080D7 0%, #AAD9D9 50%);
    height: 400px;
    border-radius: 100px;
    align-items: center;
    text-align: center;
}

.hiper-text h1 {
    font-size: 60px;
    margin: 30px 0;
    width: 550px;
}

.hiper-text h4 {
    color: var(--black);
}

.hiper-text button {
    padding: 20px 70px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: var(--background);
    color: var(--text-white);
    transition: ease-in-out 0.4s;
}

.hiper-text button:hover {
    background-color: darkred;
    color: var(--text-white);
    cursor: pointer;
}

.Eight-section {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.list-div ul {
    margin-top: 20px;
}

.list-div li {
    list-style-type: none;
    color: gray;
    line-height: 25px;
}

.list-div li:hover {
    color: var(--text-white);
    cursor: pointer;
}

.list-div p {
    font-size: 17px;
}

.low-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-top: 20px;
    height: 60px;
    width: 300px;
    border-radius: 25px;
    background-color: var(--light-bg-color);
}

.low-div button {
    padding: 8px 20px;
    border-radius: 25px;
    font-weight: 600;
    transition: ease-in-out 0.4s;
}

.low-div button:hover {
    background-color: var(--parpal-color);
    color: var(--text-white);
    cursor: pointer;
}

@media (max-width:960px) {
    body {
        padding: 30px 15px;
    }
    .hard-box h1 {
        font-size: 40px;
        width: 350px;
        line-height: 49px;
    }
    .new-div-img {
        width: 300px !important;
        height: 280px !important;
    }
    .small-img {
        font-size: 16px;
        width: 500px !important;
    }
    .div-box h1 {
        font-size: 40px;
        width: 400px;
    }
    .div-box p {
        width: 380px;
    }
    .duble-img {
        width: 300px !important;
        height: 280px !important;
    }
    .div-box-text h1 {
        font-size: 40px;
        width: 396px;
    }
    .hiper-text h1 {
        font-size: 40px;
        margin: 20px 0;
        width: 380px;
    }
    .Eight-section {
        flex-wrap: wrap;
    }
}

@media (max-width:715px) {
    .forth-box {
        flex-direction: column;
    }
    .xyz {
        flex-direction: column-reverse;
    }
    .send-div {
        flex-direction: column-reverse;
    }
    .nav-bar h3 {
        font-size: 15px;
    }
    .small-img {
        font-size: 11px;
        width: 372px !important;
    }
    .text-img-box {
        width: 258px;
    }
}

@media (max-width:474px) {
    a {
        font-size: 13px;
    }
    .new-div-img {
        width: 200px !important;
        height: 200px !important;
    }
    .hard-box h1 {
        font-size: 23px;
        width: 191px;
        line-height: 30px;
        margin: 0 auto;
    }
    .hard-box p {
        width: 205px;
        font-size: 17px;
        padding: 20px 0;
        margin: 0 auto;
    }
    .btn button {
        padding: 10px 25px;
    }
    .small-img {
        font-size: 8px;
        width: 241px !important;
    }
    .duble-img {
        width: 200px !important;
        height: 200px !important;
    }
    .div-box h1 {
        font-size: 23px;
        width: 257px;
        text-align: center;
        margin: 0 auto;
    }
    .div-box h3 {
        display: flex;
        justify-content: center;
        margin-bottom: 9px;
    }
    .div-box p {
        font-size: 17px;
        width: 231px;
        margin: 0 auto;
        padding: 15px 0;
        text-align: center;
    }
    .div-box button {
        padding: 20px 42px;
    }
    .div-box-text h1 {
        font-size: 23px;
        width: 222px;
    }
    .hiper-text h1 {
        font-size: 23px;
        margin: 16ppx 0;
        width: 226px;
    }
    .seven-section {
        height: 298px;
        border-radius: 140px;
    }
    .hiper-text button {
        padding: 20px 42px;
    }
    .btn button {
        padding: 10px 17px;
        font-size: 12px;
    }
    .text {
        flex: 30;
    }
}